:root{
    #bio-card {
    background-color: var(--accent-400);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-md);
    max-width: 600px;
    margin: 0 auto;

    #family {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);
        margin-top: var(--spacing-md);
    }
    p,h2{
        color: var(--color-surface);
    }
        /* pictures */
    .container {
        margin-top: var(--spacing-lg);
        p{
            font-size: var(--text-lg);
            margin-top: var(--spacing-lg);
            margin-bottom: var(--spacing-md);
        }
    }

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-accent-hover);

}
}
}
